<style>
    .block{
        display: block !important ;
    }
    .none{
        display: none ;
    }
    .content-header>.breadcrumb>li+li:before {
    content: '';
    padding: 0px;
    }
</style>


<div class="content-wrapper" style="min-height: 1100px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1> Active Users </h1>
      <ol class="breadcrumb">
        <li class="active" [class.none]="Msg"> <h2 style="font-size:20px;margin:0px"> No Of Users ( {{InscubeNames?.length }} ) </h2></li>
        <li class="active" style="display:none" [class.block]="Msg"> <h2 style="font-size:20px;margin:0px" > {{ Message }} ( {{InscubeNames?.length }}  /  {{ users?.length }} ) </h2></li>
      </ol>
    </section>
  
    <!-- Main content -->
    <section class="content">


        <div class="row" style="text-align:center" *ngIf="InscubeNames?.length < '1'" >
            <img src="../../assets/12.gif" style="height:120px; width:160px;" ><br>
            <h4 style="color:rgba(230, 57, 5, 0.66);">Loading ...</h4>
        </div>
    
        <div class="row" *ngIf="InscubeNames?.length >= '1'">




          <div class="col-md-3" style="padding-right:0px;">
              
                      <!-- Profile Image -->
                      <div class="box box-primary">
                        <div class="box-body box-profile">
          
                          <div class="box-header with-border">
                              <h3 class="box-title"><i class="fa fa-filter" aria-hidden="true"></i> Search Filters</h3>
                          </div>
          
                          <div class="filter-list">
                              <label (click)="toggleActive1()"> <i class="fa fa-user" ></i> Inscube Name ( {{(InscubeNames | AllUserFilter: InscubeName )?.length }} )</label>
                              <div class="form-group"  [class.none]="isActive1" style="margin-bottom:0px">
                                  <input type="text" class="form-control" [(ngModel)]="InscubeName" id="search" placeholder="Search For Inscube Name">
                              </div>
                              <div class="box-footer no-padding">
                                  <ul class="nav nav-stacked" style="height:300px; overflow-Y:auto; overflow-X:hidden" [class.none]="isActive1">
                                      <li *ngFor="let InscubeName of InscubeNames | AllUserFilter: InscubeName">
                                        <ng-template [ngIf]="InscubeName.inscube_name != ''">
                                          <a (click)="UserTabOne(InscubeName.id)" style="cursor:pointer"> {{InscubeName.inscube_name}}</a>
                                        </ng-template>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="filter-list">
                              <label (click)="toggleActive4()"> <i class="fa fa-map-marker" aria-hidden="true"></i> Search Based On City ( {{(Citys | FilterCity: City)?.length}} ) </label>
                              <div class="form-group none" [class.block]="isActive4" style="margin-bottom:0px">
                                  <input type="text" class="form-control" [(ngModel)]="City" id="search" placeholder="Search for City Name">
                              </div>
                              <div class="box-footer no-padding">
                                  <ul class="nav nav-stacked none" [class.block]="isActive4" style="height:180px; overflow-Y:auto">
                                      <li *ngFor="let City of Citys | FilterCity: City">
                                          <a (click)="SearchCity(City.city_id,City.city_name,City.count)" style="cursor:pointer"> {{City.city_name}} ( {{City.count}}) </a>
                                      </li>
                                  </ul>
                              </div>
                         </div>
                         <div class="filter-list">
                            <label (click)="toggleActive5()"> <i class="fa fa-map-marker" aria-hidden="true"></i> Search Based On State ( {{(States | FilterStates: State)?.length}} ) </label>
                            <div class="form-group none" [class.block]="isActive5" style="margin-bottom:0px">
                                <input type="text" class="form-control" [(ngModel)]="State" id="search" placeholder="Search for State Name">
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked none" [class.block]="isActive5" style="height:180px; overflow-Y:auto">
                                    <li *ngFor="let State of States | FilterStates: State">
                                        <a (click)="SearchState(State.state_id,State.state_name,State.count)" style="cursor:pointer"> {{State.state_name}} ( {{State.count}}) </a>
                                    </li>
                                </ul>
                            </div>
                         </div>
                         <div class="filter-list">
                            <label (click)="toggleActive6()"> <i class="fa fa-map-marker" aria-hidden="true"></i> Search Based On Country ( {{(Countrys | FilterCountrys: Country)?.length}} ) </label>
                            <div class="form-group none" [class.block]="isActive6" style="margin-bottom:0px">
                                <input type="text" class="form-control" [(ngModel)]="Country" id="search" placeholder="Search for Country Name">
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked none" [class.block]="isActive6" style="height:180px; overflow-Y:auto">
                                    <li *ngFor="let Country of Countrys | FilterStates: State">
                                        <a (click)="SearchCountry(Country.country_id,Country.country_name,Country.count)" style="cursor:pointer"> {{Country.country_name}} ( {{Country.count}}) </a>
                                    </li>
                                </ul>
                            </div>
                         </div>
                         <div [class.none]="!Msg"> 
                            <a (click)="AllUsers()" style="cursor:pointer; text-align:center"> 
                                <h5 style="margin:0px;"><b> Show All Users </b></h5>
                             </a>
                         </div>
                        </div>
                        <!-- /.box-body -->
                      </div>
                      <!-- /.box -->
                    </div>
                    <!-- /.col -->

















        <!-- <app-all-users-left-bar></app-all-users-left-bar> -->

        <!-- /.col -->
        
        <div class="col-md-9">
            <div class="row" style="text-align:center" *ngIf="users?.length < '1'" >
                <img src="../../assets/12.gif" style="height:100px; width:140px;" ><br>
                <h4 style="color:rgba(230, 57, 5, 0.66);">Loading Users ...</h4>
            </div>
         
          <div class="row" *ngIf="users?.length >= '1'">
           <div class="col-sm-12" >  <!-- style="max-height:900px; overflow-Y:auto" -->
                <div class="row" style="margin:0px 0px;">

                    <div class="col-sm-3 uers_list" *ngFor="let user of users ;let i = index ">
                      <div class="user_main user_main_not_hover" [class.user-main-hover]="i == selectedRow"  (mouseout)="changeStyle(i)" (mouseover)="changeStyle(i)" (click)="UserTabOne(user.id)">
                        <img *ngIf="user.image == ''"  src="http://www.inscube.com/assets/images/user.png"  class="user_img">
                        <img *ngIf="(user.image | lowercase).indexOf('http') != '-1'"  [src]="user.image"  class="user_img">
                        <img *ngIf="user.image != '' && (user.image | lowercase).indexOf('http') == '-1'" src="http://www.inscube.com/assets/profile/{{user.image}}" class="user_img">
                        <div style="margin:0px 5px;">
                          <p class="user_name"> {{user.first_name }} {{user.last_name}} (<span class="inscube_name" >{{user.inscube_name}}</span>),
                          </p>
                          <p class="user_email"> {{user.email}} ,</p>
                          <span class="user_job" *ngIf="user.company != ''"> {{user.job}} 
                            <span> @ </span> {{user.company}} ,
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12" style="text-align: center; display:none" [class.block]="Continu">
                        <img src="../../assets/12.gif" style="height:60px; width:80px;" ><br>
                        <b style="color:rgba(230, 57, 5, 0.66);">Loading Users ...</b>
                    </div>
                    <div class="col-sm-12" style="text-align: center; display:none" [class.block]="End">
                        <b style="color:rgba(230, 57, 5, 0.66);">No More Users.</b>
                    </div>

                    <go-top-button [html]="'<i class=\'fa fa-arrow-up\'></i>'" [animate]="true" [speed]="5" [acceleration]="2" [scrollDistance]="500"
                        [styles]="{ 'border-radius':'20px', 'right':'25px', 'top':'90%', 'width':'40px', 'height':'40px', 'background':'transparent', 
                        'color':'rgba(230, 57, 5, 0.66)', 'border':'2px solid', 'line-height':'30px', 'font-size':'20px' }">
                   </go-top-button>

                </div>
            </div>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
  
    </section>
    <!-- /.content -->
  </div>