<div class="col-md-3" style="padding-right:0px;">
    
            <!-- Profile Image -->
            <div class="box box-primary">
              <div class="box-body box-profile">

                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-filter" aria-hidden="true"></i> Search Filters</h3>
                </div>

                <style>
                    .block{
                        display: block !important ;
                    }
                    .none{
                        display: none ;
                    }
                </style>

                <!-- <div class="filter-list">
                    <label (click)="toggleActive1()"> <i class="fa fa-user" ></i> First Email ( {{(users | FilterEmail: email )?.length }} )</label>
                    <div class="form-group"  [class.none]="isActive1" style="margin-bottom:0px">
                        <input type="text" class="form-control" [(ngModel)]="email" id="search" placeholder="Search to Email">
                    </div>
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked" style="height:180px; overflow-Y:auto; overflow-X:hidden" [class.none]="isActive1">
                            <li *ngFor="let user of users | FilterEmail: email">
                                <a href="#"> {{user.email}}</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
                <div class="filter-list">
                    <label (click)="toggleActive2()"> <i class="fa fa-briefcase" ></i> Work Position ( {{(users | FilterJob: job )?.length }} )</label>
                    <div class="form-group none" [class.block]="isActive2" style="margin-bottom:0px">
                        <input type="text" class="form-control" [(ngModel)]="job" id="search" placeholder="Search to Email">
                    </div>
                    <!-- <div class="box-footer no-padding">
                        <ul class="nav nav-stacked none" [class.block]="isActive2" style="height:180px; overflow-Y:auto">
                            <li *ngFor="let user of users | FilterJob: job">
                                <a href="#" *ngIf="user.job != ''"> {{user.job}} </a>
                            </li>
                        </ul>
                    </div> -->
                </div>
                <!--<div class="filter-list">
                    <label (click)="toggleActive3()"> <i class="fa fa-building" aria-hidden="true"></i> Company (10)</label>
                    <div class="form-group none" [class.block]="isActive3" style="margin-bottom:0px">
                        <input type="text" class="form-control" [(ngModel)]="String3" id="search" placeholder="Search to Email">
                    </div>
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked none" [class.block]="isActive3" style="height:180px; overflow-Y:auto">
                            <li *ngFor="let user of users | FilterPipe: String3">
                                <a href="#"> {{user.company}} </a>
                            </li>
                        </ul>
                    </div>
                </div> -->
                <!-- <div class="filter-list">
                    <label (click)="toggleActive4()"> <i class="fa fa-map-marker" aria-hidden="true"></i>   Location (10)</label>
                    <div class="form-group none" [class.block]="isActive4" style="margin-bottom:0px">
                        <input type="text" class="form-control" [(ngModel)]="String4" id="search" placeholder="Search to Email">
                    </div>
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked none" [class.block]="isActive4" style="height:180px; overflow-Y:auto">
                            <li *ngFor="user n of users | FilterPipe: String4">
                                <a href="#"> {{user.year}} </a>
                            </li>
                        </ul>
                    </div>
                </div> -->
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->

      