@import url("../../assets/my_materialize.css");
.border_top_box{
 border-top: 1px solid #ddd;
 box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
}
.user-background{
    background-color: #ecf0f5;
    box-shadow: 0px 0px 5px #8A8787;
    cursor: pointer;
}

.user-main-hover{
    box-shadow: 0px 8px 15px #8A8787 !important;
}