
:host /deep/ ng2-smart-table table{
    border-collapse: collapse;
}
:host /deep/ ng2-smart-table table, :host /deep/ ng2-smart-table td, :host /deep/ ng2-smart-table th {
    border: 1px solid rgba(181, 181, 181, 0.25);
}

:host /deep/ ng2-smart-table thead > tr > th{ 
	text-align: center; 
    font-size: 15px;    
    padding: 15px 0px;
    border: 1px solid #c1c0c0;
}

:host /deep/ ng2-smart-table thead > tr > th a:hover{ 
	text-decoration: none;
} 
:host /deep/ ng2-smart-table thead > tr > th a{ 
	color: #ffffff;
} 

:host /deep/ ng2-smart-table thead > tr { 
	background: rgba(14, 176, 240, 0.77);
}

:host /deep/ ng2-smart-table tbody > tr > td{ 
	text-align: center; 
    font-size: 14px;  
    padding: 13px 0px;  
}
:host /deep/ ng2-smart-table tbody > tr:nth-child(odd){ 
	background: rgba(226, 226, 226, 0.27);
}