
<div class="content-wrapper" style="min-height: 1100px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Impress Posts
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Impress Posts </li>
      </ol>
    </section>
  
    <style>
        .block{
            display: block !important ;
        }
        .none{
            display: none ;
        }
    </style>
  
  
    <!-- Main content -->
    <section class="content">

    <div class="row" style="text-align:center" *ngIf="posts?.length < '1' && Loader " >
        <img src="../../assets/12.gif" style="height:120px; width:160px;" ><br>
        <h4 style="color:rgba(230, 57, 5, 0.66);">Loading ...</h4>
    </div>

      <div class="row" *ngIf="posts?.length > '1' || !Loader ">
            <div class="col-sm-12" style="text-align:center" *ngIf="posts?.length < '1'" >
               <h3 style="color:rgba(230, 57, 5, 0.66);font-weight:700"> Impress Posts Empty </h3>
            </div>

        <div class="col-sm-12" *ngIf="posts?.length >='1'">
          <div class="box box-primary">
            <div class="box-body ">
                
  
  
                <ul class="timeline timeline-inverse">
                  <li class="time-label">
                        <span class="bg-red">
                        {{date | date:'medium'}}
                        </span>
                  </li>
                  <li  *ngFor="let post of posts ;let i = index " >
                      <i class="fa fa-angle-double-right bg-blue"></i>
                      <div class="timeline-item">
                        <div class="row">
                          <div class="col-sm-9 timeline-item-left">
                              <h3 class="timeline-header" *ngIf="post.post_type == '7'" >
                                <span >
                                    <img *ngIf="post.user_image == ''"  src="http://www.inscube.com/assets/images/user.png"  class="profile-img img-circle" style="width:40px;height:40px">
                                    <img *ngIf="(post.user_image | lowercase).indexOf('http') != '-1'"  src="{{post.user_image}}"  class="profile-img img-circle" style="width:40px;height:40px">
                                    <img *ngIf="post.user_image != '' && (post.user_image | lowercase).indexOf('http') == '-1'" src="http://www.inscube.com/assets/profile/{{post.user_image}}" class="profile-img img-circle" style="width:40px;height:40px">
                                </span>
                                  <span class="blue post-type" (click)="UserPage(post.user_id)" style="cursor:pointer"> {{ post.user_name }} </span> <br> 
                                  <span class="time"><i class="fa fa-clock-o"></i> {{ post.updated_at  | date:'medium' }}</span>
                              </h3>
                              <div class="timeline-body">
                                <span class="post-title-main" *ngIf="post.post_type == '7'"><span class="red post-title"> Title :</span> {{ post.question}} <br> </span>  
                                <div class="post-image">
                                  <div *ngFor="let image of post.images ;let j = index" [ngClass]="{'image-1':post.images?.length=='1','image-2':post.images?.length=='2','image-3':post.images?.length=='3','image-4':post.images?.length=='4','image-5':post.images?.length=='5','image-6':post.images?.length=='6'}" >
                                    <img *ngIf="(image.image | lowercase).indexOf('.jpg') != -1 || (image.image | lowercase).indexOf('.jpeg') != -1 || (image.image | lowercase).indexOf('.png') != -1 || (image.image | lowercase).indexOf('.gif') != -1 || (image.image | lowercase).indexOf('.tiff') != -1" src="http://www.inscube.com/assets/what_if/{{image.image}}" style="width:100%;height:100%">
                                    <video *ngIf=" (image.image | lowercase).indexOf('.3gp') != -1 || (image.image | lowercase).indexOf('.mp4') != -1 || (image.image | lowercase).indexOf('.avi') != -1 || (image.image | lowercase).indexOf('.flv') != -1" width="100%" style="max-height:300px;" controls> <source src="http://www.inscube.com/assets/what_if/{{image.image}}">  </video>
                                  </div>
                                </div>
                                <div  *ngIf="post.link != '' && post.post_type != '3'">
                                  <iframe *ngIf="(post.link | lowercase).indexOf('youtube.com') != -1" width="100%" height="315" frameborder="0" style="border:0" [src]=" post.link | YoutubeReplace"> </iframe> 
                                  <div  *ngIf="(post.link | lowercase).indexOf('youtube.com') == -1">
                                    <b> &emsp; Added.Link : </b> <a href="{{post.link}}" target="blanck" > {{post.link}} </a>
                                </div>
                                </div>
                                <span *ngIf=" post.story_type != 'Pets' ">
                                  <span class="red post-title"> Content :</span><br> &emsp; &emsp;  {{ post.contents}}  <br>
                                </span>                    
                              </div>
                          </div>
                          <div class="col-sm-3 post_tabs" style="padding-left:0px;">
  
                              <tabset>
                                  <tab>
                                    <span *tabHeading>
                                        Opinions ( {{ post.opinions?.length }} )
                                      </span>
                                      <ul class="tab_in_ul">
                                        <a *ngFor = " let opinion of post.opinions ;let m = index">
                                            <li class="tab_in_li">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <img *ngIf="opinion.user_image == ''"  src="http://www.inscube.com/assets/images/user.png"  class="profile-img img-circle" style="width:35px;height:35px; margin:5px;">
                                                        <img *ngIf="(opinion.user_image | lowercase).indexOf('http') != '-1'"  src="{{opinion.user_image}}"  class="profile-img img-circle" style="width:35px;height:35px">
                                                        <img *ngIf="opinion.user_image != '' && (opinion.user_image | lowercase).indexOf('http') == '-1'" src="http://www.inscube.com/assets/profile/{{opinion.user_image}}" class="profile-img img-circle" style="width:35px;height:35px;margin:5px;">
                                                    </div>
                                                    <div class="col-sm-9" style="padding-left:0px;">
                                                        <p class="tab_in_ques" *ngIf="opinion.question?.length > 22 "> {{ opinion.question | slice:0:22 }}... </p>
                                                        <p class="tab_in_ques" *ngIf="opinion.question?.length < 22 ">{{ opinion.question | slice:0:22 }} </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </a>
                                      </ul>
                                  </tab>
                                  <tab>
                                      <span *tabHeading>
                                        Try It ( {{ post.tryit?.length }} )
                                      </span>
                                      <ul class="tab_in_ul">
                                        <a *ngFor = " let try of post.tryit ;let m = index">
                                           <li class="tab_in_li">
                                               <div class="row">
                                                   <div class="col-sm-3">
                                                       <img *ngIf="try.user_image == ''"  src="http://www.inscube.com/assets/images/user.png"  class="profile-img img-circle" style="width:35px;height:35px; margin:5px;">
                                                       <img *ngIf="(try.user_image | lowercase).indexOf('http') != '-1'"  src="{{try.user_image}}"  class="profile-img img-circle" style="width:35px;height:35px">
                                                       <img *ngIf="try.user_image != '' && (try.user_image | lowercase).indexOf('http') == '-1'" src="http://www.inscube.com/assets/profile/{{try.user_image}}" class="profile-img img-circle" style="width:35px;height:35px;margin:5px;">
                                                   </div>
                                                   <div class="col-sm-9" style="padding-left:0px;">
                                                       <p class="tab_in_ques" *ngIf="try.user_name?.length > 16 "> {{ try.user_name | slice:0:16 }}... Tryed </p>
                                                       <p class="tab_in_ques" *ngIf="try.user_name?.length < 16 ">{{ try.user_name | slice:0:16 }} Tryed </p>
                                                   </div>
                                               </div>
                                           </li>
                                        </a>
                                      </ul>
                                  </tab>
                              </tabset>
                          </div>
                          <div class="col-sm-12">
                              <div class="row timeline-footer" style="margin:0px">
                                  <div class=" col-sm-11 " style="padding:0px">  
                                      <span class="count-text" *ngIf="post.post_type == '7'" >No of Emots : <span class="count" >{{ post.comments?.length }}</span>.&emsp;</span>
                                      <span *ngFor="let comment of post.comments ;let m = index" class="tooltip count-text">{{comment.comments}} | {{ comment.comment_users?.length }}
                                          <span class="tooltiptext"> <span *ngFor="let comment_user of comment.comment_users ;let n = index"> {{comment_user.first_name}} {{comment_user.last_name}}  <br></span> </span>
                                      </span>
                                  </div>
                                  <div class="col-sm-1" style="padding:0px">
                                    <!-- <a class="btn btn-primary btn-sm" [class.active]="post.post_type != '1'" >View Post...</a> -->
                                    <a class="btn btn-danger btn-sm" (click)="BlockPost(post.id)" >Block Post...</a>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
  
                  </li>
                  <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                  </li>
                </ul>

                <go-top-button [html]="'<i class=\'fa fa-arrow-up\'></i>'" [animate]="true" [speed]="5" [acceleration]="2" [scrollDistance]="500"
                    [styles]="{ 'border-radius':'20px', 'right':'25px', 'top':'90%', 'width':'40px', 'height':'40px', 'background':'transparent', 
                    'color':'rgba(230, 57, 5, 0.66)', 'border':'2px solid', 'line-height':'30px', 'font-size':'20px' }">
                </go-top-button>

                <div class="col-sm-12" style="text-align: center; display:none" [class.block]="Continu">
                    <img src="../../assets/12.gif" style="height:60px; width:80px;" ><br>
                    <b style="color:rgba(230, 57, 5, 0.66);">Loading Posts ...</b>
                </div>
                <div class="col-sm-12" style="text-align: center; display:none" [class.block]="End">
                    <b style="color:rgba(230, 57, 5, 0.66);">No More Posts.</b>
                </div>

            </div>
          </div>
        </div> 
      </div>
    </section>
  </div>
  